<!DOCTYPE html>
<html lang='ja' ng-app='myapp'>
<head>
  <meta charset='utf-8'>
  <title>Angularの部屋</title>
  <script src='angular.min.js'></script>
  <script src='dot_script.js'></script>
  <style>
    .even {
      background:#ccc;
    }
    .odd {
      background:red;
    }
  </style>
</head>
<body>
  <h1>AngularJSの部屋</h1>
  <div ng-controller='mainCtrl'>
  <form novalidate name='myForm' ng-submit='addUser()'>
    <!--名前-->
    <p>Name:
      <input type='text' name='name' ng-model='user.name'
       required ng-minlength='5' ng-maxlength='12'>
    <span ng-show='myForm.name.$error.required'>Required!!</span>
    <span ng-show='myForm.name.$error.minlength'>Too short!!</span>
    <span ng-show='myForm.name.$error.maxlength'>Too long!!</span>
    </p>
    <!--スコア-->
    <p>Score:
      <input type='number' name='score' ng-model='user.score'>
    </p>
    <!--メールアドレス-->
    <p>Email:
      <input type='email' name='email' ng-model='user.email'>
      <span ng-show='myForm.email.$error.email'>Not valid Email!!</span>
    </p>
    <!--ウェブアドレス-->
    <p>Web:
      <input type='url' name='url' ng-model='user.url'>
      <span ng-show='myForm.url.$error.url'>Not valid WEB URL!!</span>
    </p>
    <p>18+:<input type='checkbox' ng-model='user.adult'
      ng-true-value="'adult'" ng-false-value="'child'"></p>
    <p>Phone:
    <input type='radio' ng-model='user.phone' value='iPhone'> iPhone
    <input type='radio' ng-model='user.phone' value='Android'> Android
    </p>
    <p>Memo:
      <textarea ng-model='user.memo' ng-maxlength='140'></textarea>{{140-
        user.memo.length}}
    </p>
    <p>Color:
      <select ng-model='user.color' ng-options="'label: ' +color for color in
      ['red', 'blue', 'pink']" ng-init="user.color='red'"></select>
    </p>
    <p><input type='submit' value='add'</p>
  </form>
  <pre>{{user|json}}</pre>

    <p>{{25 * 500|number}}</p>
    <p>{{25 * 500|currency:'¥'}}</p>
    <p>{{today|date: 'yyyy-MM-dd'}}</p>
    <p><input type='text' ng-model='query.name'></p>

    <ul>
    <li ng-repeat='user in users' ng-controller='userItemCtrl'>
      {{user.name}} : {{user.score}}
      <button ng-click='increment()'>+1</button>
    </li>
    </ul>

    <ul>
    <li ng-repeat='user in users|filter:query' ng-class-even='"even"' ng-class-odd='"odd"'>
      {{$index+1}} {{$first}} {{$middle}} {{$last}} {{user.name|lowercase}} : {{user.score|number:2}}
    </li>
    </ul>
  </div>
</body>
</html>
